# Google Drive integration
# Get these from Google Cloud Console (APIs & Services > Credentials)
# Safe to commit as these are public client credentials (referrer-restricted)

NEXT_PUBLIC_GOOGLE_CLIENT_ID=187931949199-6h306f9qetpj6mpt12scng63j7f1nq33.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_API_KEY=AIzaSyDqBQEg2nKV13e19quRY1iuDCqtmNfQRQ4
